body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

.container-search {
    background-color: #fff;
   align-items: center;
   display: flex;
   justify-content: center;
    border-radius: 5px;
    margin: 15px auto;
    height: auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
    
}
.container-elements{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container-search-content {

    width: 50%;
    padding: 10px;
    border-bottom: 1px solid #0074B7;
    border-top: 1px solid #0074B7;
}

.search-bar {
    width: 100%;
    background-color: #D4F1F4;
    border-radius: 2px;
    padding: 5px;
    height: 35px;
    color: #000000;
    border: none
}
.search-bar:focus {
    color: #000000;
    background-color: #D4F1F4;
    outline: none;
  }
.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #0074B7;
    border-top: 1px solid #0074B7;
    margin-bottom: 25px;
}

.categories ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.categories li {
    display: inline-block;
}

.categories a {
    color: #000;
    display: block;
    font-size: 16px;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.categories a:hover {
    background-color: #0074B7;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.container {
    margin: 30px auto;
    width: 100%;
}

.page-content {
    padding: 10px;
    height: auto;
    background-color: #fff;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.card {
    border-radius: 5px;
    max-width: 25%;
    max-height: 350px;
    margin: 5px 20px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.card img {
    display: block;
    width: 100%;
    height: 50%;
}

.content-right {
    width: 100%;
}

.buttonside {
    display: flex;
    flex-direction: column;
    background-color: #BFD7ED;
    width: 100%;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
}

.buttonside:hover {
    background-color: #0074B7;
    width: 100%;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
}


@media screen and (max-width: 970px) {
    .card{
        font-size: 14px;
        max-width: 35%;
        max-height: 350px;
    }
}

@media screen and (max-width: 600px) {
    .card{
        font-size: 14px;
        max-width: 60%;
        max-height: 350px;
    }
}

@media screen and (max-width: 350px) {
    .card{
        font-size: 10px;
        max-width: 60%;
        max-height: 350px;
    }
    .card img{
        height: 40%;
    }
    .container-elements{
        font-size: 16px;
    }
}