html, body{
    height: 100%;
    margin:0;
    padding: 0;
}
.body-backgr{
    /* background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../../assets/pexels-skitterphoto-1019470.jpg'); */
    background-image: url('../../assets/DONE_ekaterina-novitskaya-gLroHoWh_as-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100%;
}

.section{
    display: flex;
    margin: auto;
    position: fixed;
    top: 10%;
    left: 30%;
    width: 40%;
}

.forms{
    display: block;
    width: 100%;
    padding: 0 20px;
}

input {
    width: 95%;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
}

.form-style{
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(1, 1, 1, 0.5);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px 20px 15px 20px;
    width: 100%;
    color: #fff;
    
}

.submit-button{
    align-items: center;
    border-radius: 5px;
    background-color: #60A3D9;
    border: none;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 40%;
}

.submit-button:hover{
    background-color: #0074B7;
}

.submit-button:active{
    border: none;
}

.already-sign a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

@media screen and (max-width: 800px) {
    
.section{
    top: 10%;
    left: 20%;
    width: 60%;
}
    .submit-button{
        font-size: 14px;
        padding: 10px;
        width: 30%;
    }
}

@media screen and (max-width: 666px) {
    
    .section{
        top: 10%;
        left: 20%;
        width: 60%;
    }
        .submit-button{
            font-size: 12px;
            padding: 10px;
            width: 30%;
        }
}

@media screen and (max-width: 400px) {
    
    .section{
        top: 10%;
        left: 17%;
        width: 60%;
    }
    .submit-button{
            font-size: 12px;
            padding: 6px;
            width: 40%;
    }
}

@media screen and (max-width: 300px) {
    
    .form-style{
        font-size: 14px;
        
    }
    .section{
        top: 10%;
        left: 12%;
        width: 65%;
    }
    .submit-button{
            font-size: 12px;
            padding: 6px;
            width: 40%;
    }
}