<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>MEGa - Math Equation Game</title>
<link rel="stylesheet" href="../Css/Admin-page.css">
<link rel="stylesheet" href="../Css/Homepage.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<header>
<nav>
  <div class="topnav">
    <a class="homepage" href="Homepage.html">Home</a>
    <a class="ecuatii" href="Ecuatii.html">Ecuatii</a>
    <a class="active" href="Admin-page.html">Admin page</a>
    <a href="AdaugaEcuatii.html"> Adaugă o ecuație</a>
    <a class="documentatie" href="Documentatie.html">Documentatie</a>
    <ul class="register-login">
      <li><a class="login" href="Login.html">Login</a></li>
      <li><a class="register" href="Register.html">Register</a></li>
    </ul>
  </div>
</nav>
</header>
<section>
  <h2 class="admin-cont">Administrarea conturilor (template , nu va mai fi in navbar pe viitor)</h2>
  <div class="page-content">
      <div class="content-right">
          <div class="row">
              <div class="card">
                  <div class="card-detalies">
                      <h4>User</h4>
                      <p>Nume de utilizator : exemplu</p>
                      <p>Email : exemplu@yahoo.com</p>
                      <button class="delete">Sterge utilizator</button>
                  </div>
              </div>
              <div class="card">
                      <div class="card-detalies">
                      <h4>User</h4>
                      <p>Nume de utilizator : exemplu2</p>
                      <p>Email : exemplu2@yahoo.com</p>
                      <button class="delete">Sterge utilizator</button>
                  </div>
              </div>
              <div class="card">
                 
                  <div class="card-detalies">
                      <h4>User</h4>
                      <p>Nume de utilizator : exemplu3</p>
                      <p>Email : exemplu3@yahoo.com</p>
                      <button class="delete">Sterge utilizator</button>
                  </div>
              </div>
              <div class="card">
                <div class="card-detalies">
                    <h4>User</h4>
                    <p>Nume de utilizator : exemplu4</p>
                    <p>Email : exemplu4@yahoo.com</p>
                    <button class="delete">Sterge utilizator</button>
                </div>
            </div>
            <div class="card">
                    <div class="card-detalies">
                    <h4>User</h4>
                    <p>Nume de utilizator : exemplu5</p>
                    <p>Email : exemplu5@yahoo.com</p>
                    <button class="delete">Sterge utilizator</button>
                </div>
            </div>
            <div class="card">
              <div class="card-detalies">
                  <h4>User</h4>
                  <p>Nume de utilizator : exemplu</p>
                  <p>Email : exemplu@yahoo.com</p>
                  <button class="delete">Sterge utilizator</button>
              </div>
          </div>
          <div class="card">
                  <div class="card-detalies">
                  <h4>User</h4>
                  <p>Nume de utilizator : exemplu2</p>
                  <p>Email : exemplu2@yahoo.com</p>
                  <button class="delete">Sterge utilizator</button>
              </div>
          </div>
          <div class="card">
             
              <div class="card-detalies">
                  <h4>User</h4>
                  <p>Nume de utilizator : exemplu3</p>
                  <p>Email : exemplu3@yahoo.com</p>
                  <button class="delete">Sterge utilizator</button>
              </div>
          </div>
          <div class="card">
            <div class="card-detalies">
                <h4>User</h4>
                <p>Nume de utilizator : exemplu4</p>
                <p>Email : exemplu4@yahoo.com</p>
                <button class="delete">Sterge utilizator</button>
            </div>
        </div>
        <div class="card">
                <div class="card-detalies">
                <h4>User</h4>
                <p>Nume de utilizator : exemplu5</p>
                <p>Email : exemplu5@yahoo.com</p>
                <button class="delete">Sterge utilizator</button>
            </div>
        </div>
        <div class="card">
          <div class="card-detalies">
              <h4>User</h4>
              <p>Nume de utilizator : exemplu</p>
              <p>Email : exemplu@yahoo.com</p>
              <button class="delete">Sterge utilizator</button>
          </div>
      </div>
      <div class="card">
              <div class="card-detalies">
              <h4>User</h4>
              <p>Nume de utilizator : exemplu2</p>
              <p>Email : exemplu2@yahoo.com</p>
              <button class="delete">Sterge utilizator</button>
          </div>
      </div>
      <div class="card">
         
          <div class="card-detalies">
              <h4>User</h4>
              <p>Nume de utilizator : exemplu3</p>
              <p>Email : exemplu3@yahoo.com</p>
              <button class="delete">Sterge utilizator</button>
          </div>
      </div>
      <div class="card">
        <div class="card-detalies">
            <h4>User</h4>
            <p>Nume de utilizator : exemplu4</p>
            <p>Email : exemplu4@yahoo.com</p>
            <button class="delete">Sterge utilizator</button>
        </div>
    </div>
    <div class="card">
            <div class="card-detalies">
            <h4>User</h4>
            <p>Nume de utilizator : exemplu5</p>
            <p>Email : exemplu5@yahoo.com</p>
            <button class="delete">Sterge utilizator</button>
        </div>
    </div>
    <div class="card">
      <div class="card-detalies">
          <h4>User</h4>
          <p>Nume de utilizator : exemplu</p>
          <p>Email : exemplu@yahoo.com</p>
          <button class="delete">Sterge utilizator</button>
      </div>
  </div>
  <div class="card">
          <div class="card-detalies">
          <h4>User</h4>
          <p>Nume de utilizator : exemplu2</p>
          <p>Email : exemplu2@yahoo.com</p>
          <button class="delete">Sterge utilizator</button>
      </div>
  </div>
  <div class="card">
     
      <div class="card-detalies">
          <h4>User</h4>
          <p>Nume de utilizator : exemplu3</p>
          <p>Email : exemplu3@yahoo.com</p>
          <button class="delete">Sterge utilizator</button>
      </div>
  </div>
  <div class="card">
    <div class="card-detalies">
        <h4>User</h4>
        <p>Nume de utilizator : exemplu4</p>
        <p>Email : exemplu4@yahoo.com</p>
        <button class="delete">Sterge utilizator</button>
    </div>
</div>
<div class="card">
        <div class="card-detalies">
        <h4>User</h4>
        <p>Nume de utilizator : exemplu5</p>
        <p>Email : exemplu5@yahoo.com</p>
        <button class="delete">Sterge utilizator</button>
    </div>
</div>
          </div>
      </div>
  </div>
</section>
<footer>
    <div class="footer">
        <p>Proiect realizat de Tomescu Tudor-Gabriel, Cazacu Răzvan-Nicușor și Pînzariu Mălina-Ioana</p>
      </div>
    </footer>

</body>
</html>