<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>MEGa - Math Equation Game</title>
<link rel="stylesheet" href="../Css/Homepage.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<header>
<nav>
    <div class="topnav">
        <a class="active" href="Homepage.html">Home</a>
        <a class="ecuatii" href="Ecuatii.html">Ecuatii</a>
        <a class="admin" href="Admin-page.html">Admin page</a>
        <ul class="register-login">
          <li><a class="login" href="Login.html">Login</a></li>
          <li><a class="register" href="Register.html">Register</a></li>s
        </ul>
      </div>
</nav>
</header>
<p>Aici vor fi afisati utilizatorii iar adminul va putea sterge conturi</p>
<footer>
<div class="footer">
    <p>Proiect realizat de Tomescu Tudor Gabriel , Cazacu Razvan-Nicusor si Pinzariu Malina Ioana</p>
  </div>
</footer>

</body>
</html>