<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecuatii</title>
    <link rel="stylesheet" href="../Css/AllEquation.css">
    <link rel="stylesheet" href="../Css/Homepage.css">
</head>

<body> 

    <header>
        <nav>
            <div class="topnav">
                <a class="active" href="#home">Home</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
              </div>
        </nav>
    </header>
    <section>
        <div class="container-motto">
            <div class="container-motto-content">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><img src="../../assets/search_black_24dp.svg" alt="search icon"></button>
            </div> 
        </div>
    </section>
    <menu>
        <div class="categories">
            <ul>
                <li><a href="#Algebra">Algebra</a></li>
                <li><a href="#Analiza">Analiza</a></li>
                <li><a href="#Trigonometrie">Trigonometrie</a></li>
           </ul>
        </div>
    </menu>
    <section>
        <div class="page-content">
            <!-- <div class="sidebar">
                <input class="buttonside" type="button" value="New"/>
                <input class="buttonside" type="button" value="Algebra"/>
                <input class="buttonside" type="button" value="Trigonometrie"/>
                <input class="buttonside" type="button" value="Analiza"/>
            </div> -->
            <div class="content-right">
                <div class="row">
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <p>O Problema</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <p>O Problema</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <p>O Problema</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <p>O Problema</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <p>O Problema</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <p>O Problema</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <p>O Problema</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <p>O Problema</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <p>Footer</p>
        </div>
    </footer>

</body>
</html>