<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Css/AllEquation.css">
</head>

<body>
    <div class="page-content">
        
        <div class="sidebar">
            <input type="button" value="New"/>
            <input type="button" value="Algebra"/>
            <input type="button" value="Trigonometrie"/>
            <input type="button" value="Analiza"/>
        </div>
        <div class="content-right">
            <div id="cards" class="row">
                <div class="card">
                    <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                    <div class="card-detalies">
                        <p>O Problema</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>