<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecuații</title>
    <link rel="stylesheet" href="../Css/AllEquation.css">
    <link rel="stylesheet" href="../Css/Homepage.css">
</head>

<body> 

    <header>
      <nav>
        <div class="topnav">
            <a class="homepage" href="Homepage.html">Home</a>
            <a class="active" href="Ecuatii.html">Ecuatii</a>
            <a class="admin" href="Admin-page.html">Admin page</a>
            <a href="AdaugaEcuatii.html"> Adaugă o ecuație</a>
            <a class="documentatie" href="Documentatie.html">Documentatie</a>
            <ul class="register-login">
              <li><a class="login" href="Login.html">Login</a></li>
              <li><a class="register" href="Register.html">Register</a></li>
            </ul>
          </div>
      </nav>
    </header>

        <div class="categories">
            <ul>
                <li><a href="#Algebra">Algebra</a></li>
                <li><a href="#Analiza">Analiza</a></li>
                <li><a href="#Trigonometrie">Trigonometrie</a></li>
                <li><a href="#Geometrie">Geometrie</a></li>
           </ul>
        </div>

    <section>
        <div class="page-content">
                <form class="game">
                    <label for="fquestion"><h3>Calculati ecuatia de pai jos</h3></label>
                    <mrow>
                        <mrow>
                          <msup>
                            <mi>x</mi>
                            <mn>2</mn>
                          </msup>
                          <mo>+</mo>
                          <mrow>
                            <mn>4</mn>
                            <mo>&times;</mo>
                            <mi>x</mi>
                          </mrow>
                          <mo>+</mo>
                          <mn>4</mn>
                        </mrow>
                        <mo>=</mo>
                        <mn>0</mn>
                      </mrow>
                    <input type="text" id="fquestion" name="fquestion">
                    <div class="help">
                        <h5>Ai nevoie de ajutor? <button class="hint">Hint</button></h5>
                        <p class="dropdown-content">Ecuatie de gradul 2, calculeaza delta blah</p>
                    </div>
                    <input type="submit" value="Submit">
                </form>
        </div>
    </section>
    <footer>
      <div class="footer">
          <p>Proiect realizat de Tomescu Tudor-Gabriel, Cazacu Răzvan-Nicușor și Pînzariu Ioana-Mălina</p>
        </div>
      </footer>
      <script src="../scripts/dropdown.js"></script>
</body>
</html>