<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecuatii</title>
    <link rel="stylesheet" href="../Css/AllEquation.css">
    <link rel="stylesheet" href="../Css/Homepage.css">
</head>

<body> 

    <header>
      <nav>
        <div class="topnav">
            <a class="active" href="Homepage.html">Home</a>
            <a class="ecuatii" href="Ecuatii.html">Ecuatii</a>
            <ul class="register-login">
              <li><a class="login" href="Login.html">Login</a></li>
              <li><a class="register" href="Register.html">Register</a></li>
            </ul>
          </div>
      </nav>
    </header>
    <section>
        <div class="container-search">
            <div class="container-elements">
              <h1>Math Equation Game</h1>
            </div>
              <div class="container-search-content">
                  <input class="search-bar" type="search" placeholder="Search.." name="search">
                  <!-- <button class="search-button" type="submit"><img src="../../assets/search_black_24dp.svg" alt="search icon"></button> -->
              </div> 
            
        </div>
    </section>

        <div class="categories">
            <ul>
                <li><a href="#Algebra">Algebra</a></li>
                <li><a href="#Analiza">Analiza</a></li>
                <li><a href="#Trigonometrie">Trigonometrie</a></li>
                <li><a href="#Geometrie">Geometrie</a></li>
           </ul>
        </div>

    <section>
        <div class="page-content">
            <div class="content-right">
                <div class="row">
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <h4>Problema</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <h4>Problema</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <h4>Problema</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <h4>Problema</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <h4>Problema</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src='../../assets/pexels-skitterphoto-1019470.jpg' alt='Problema'>
                        <div class="card-detalies">
                            <h4>Problema</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
      <div class="footerr">
          <p>Proiect realizat de Tomescu Tudor-Gabriel, Cazacu Răzvan-Nicușor și Pînzariu Mălina-Ioana</p>
        </div>
      </footer>

</body>
</html>