<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="../Css/Register.css">
    <link rel="stylesheet" href="../Css/Homepage.css">
</head>

<body>

<div class="body-backgr">
    <header>
        <nav>
          <div class="topnav">
            <a class="homepage" href="Homepage.html">Home</a>
            <a class="ecuatii" href="Ecuatii.html">Ecuatii</a>
            <a class="admin" href="Admin-page.html">Admin page</a>
            <a href="AdaugaEcuatii.html"> Adaugă o ecuație</a>
            <a class="documentatie" href="Documentatie.html">Documentatie</a>
            <ul class="register-login">
              <li><a class="login" href="Login.html">Login</a></li>
              <li><a class="active" href="Register.html">Register</a></li>
            </ul>
          </div>
        </nav>
      </header>
    <section>
        <div class="section">
            <form class="forms">
                <div class ="form-style">
                    <h4>Creare cont</h4>
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email" name="email" id="email" required>
                    <label for="username">Username</label>
                    <input type="text" placeholder="Nume de utilizator" name="username" id="username" required>
                    <label for="password">Parola</label>
                    <input type="password" placeholder="Alege o parola" name="password" id="password" required>
                    <label for="repeatpass">Verificare parola</label>
                    <input type="password" placeholder="Confirmare parola" name="repeatpass" id="repeatpass" required>
                    <button class="submit-button" type="submit">Sign up</button>
                    <div class="already-sign">
                        <p>Ai deja cont? <a href="Login.html">Sign in</a></p>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<footer>
    <div class="footer">
        <p>Proiect realizat de Tomescu Tudor-Gabriel, Cazacu Răzvan-Nicușor și Pînzariu Mălina-Ioana</p>
      </div>
</footer>

</body>
</html>