<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MEGa-Math-Equation-Game-</title>

  
  <link rel="stylesheet" href="/View/Css/AdaugaEcuatii.css">
  <link rel="stylesheet" href="/View/Css/Admin-page.css">
  <link rel="stylesheet" href="/View/Css/AllEquation.css">
  <link rel="stylesheet" href="/View/Css/Documentatie.css">
  <link rel="stylesheet" href="/View/Css/Homepage.css">
  <link rel="stylesheet" href="/View/Css/Login.css">
  <link rel="stylesheet" href="/View/Css/Register.css">
  
</head>

<body>
  <header>
    
    <div class="links">
      <ul>
        <li id="register" onclick="go('/register')">Register</li>
        <li id="login" onclick="go('/login')">Login</li> 
      </ul>
    </div>

  </header>

  <div class="container" id="root"></div>

  <script src="/scripts/core.js"></script> 
</body>

</html>